.gitignore.bak
README.md.bak
LICENSE.bak
.vs
src/.axoCover
src/.vs
src/AzureTableUtilities/bin
src/AzureTableUtilities/obj
src/AzureTableUtilities/AzureTableUtilities.nuspec.bak
src/AzureTableUtilities/NuGetCommandLine.txt
src/AzureTableUtilities/NuGetCommandLine.txt.bak
src/AzureTableUtilitiesXUnitTest/bin
src/AzureTableUtilitiesXUnitTest/obj
src/TestResults

/src/AzureTableUtilitiesCLI/bin
/src/AzureTableUtilitiesCLI/obj
